{% extends "layout.html" %}

{% block title %} Password Manager {% endblock %}

{% block css %}

<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .bottom-navigation {
        display: none;
    }

    .animate-fadeIn {
        animation: fadeIn 0.25s ease forwards;
    }

    html body {
        margin-bottom: 0;
    }



    .header,
    .input-box {
        position: fixed;
        z-index: 100;
        width: 100%;
        background: #f9fafb;
        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */

        display: flex;
        align-items: center;
        padding: 12px 16px;
    }

    .header {
        top: 0;
        justify-content: space-between;
        padding: 20px 16px;
        border-bottom: 2px solid #fff;
    }

    .header h2 {
        margin: 0;
        flex: 1;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }

    .chat-box {
        margin-top: 5rem;
        padding: 1rem;
    }

    .system-chat {
        background: #f9fafb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border: 3px solid #fff;
        border-radius: 2rem 0rem 2rem 0;
        padding: 1rem;
        width: 80%;
        max-width: 320px;
    }

    .user-msg-desc {
        background: #7f13ec;
        color: white;
        padding: 8px 20px;
        border-radius: 20px;
        border: 3px solid #7f13ec;
        max-width: 75%;
        font-size: 14px;
    }

    .flex-end {
        display: flex;
        justify-content: flex-end;
    }

    .flex-start {
        display: flex;
        justify-content: flex-start;
    }

    .flex-row {
        display: flex;
        align-items: center;
    }

    .flex-col {
        display: flex;
        flex-direction: column;
    }

    .input-box {
        bottom: 0;
        border-top: 1px solid #fff;
        padding: 12px 16px;
    }

    .input-box input {
        flex: 1;
        padding: 15px;
        border: 2px solid #fff;
        border-radius: 999px;
        font-size: 14px;
        outline: none;
        background-color: #f9fafb;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }

    .input-box input:focus {
        border: 1px solid #7f13ec;
        box-shadow: 0 0 0 1px rgba(127, 19, 236, 0.101);
    }

    .input-box button {
        margin-left: 8px;
        background: #7f13ec;
        color: white;
        border: none;
        padding: 10px 14px;
        border-radius: 50%;
        cursor: pointer;

    }

    .input-box button:hover {
        background: #6900d1;
    }

    .icon-circle {
        background: #f3e8ff;
        padding: 6px;
        border-radius: 50%;
        font-size: 16px;
    }

    .txn-title {
        font-weight: 300;
        color: #444;
        font-size: 14px;
    }

    .txn-sub {
        font-weight: 600;
        color: #7f13ec;
        font-size: 13px;
    }


    .text-title {
        font-weight: 400;
        color: #7f13ec;
        font-size: 15px;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .text-title small {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .text-title span {
        width: 40px;
        flex-shrink: 0;
    }


    .text-desc {
        margin-top: 0.3rem;
        font-weight: 600;
        color: #444;
        display: flex;
        align-items: center;
        flex-direction: row;

    }

    .text-desc small {
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .text-desc span {
        width: 40px;
        flex-shrink: 0;
    }

    .txn-date {
        color: #888;
        font-size: 12px;
        margin-top: 6px;
        text-align: right;
    }


    /* profile */

    .user-msg {
        margin: 0.8rem 0;
        display: flex;
        align-items: flex-start;
        background-color: transparent;
    }

    .user-msg .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0;
        margin-left: 8px;
        margin-bottom: 0.2rem;
        border: 2px solid #7f13ec;
        flex-shrink: 0;
    }

    .user-msg .profile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* bot msg */

    .bot-msg {
        margin: 0.8rem 0;
        display: flex;
        align-items: flex-start;
        background-color: transparent;
    }

    .bot-msg .profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0;
        margin-right: 8px;
        margin-bottom: 0.2rem;
        border: 2px solid #7f13ec;
        flex-shrink: 0;
    }

    .bot-msg .profile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .bot-msg-desc {
        background: #f9fafb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border: 3px solid #fff;
        border-radius: 20px;
        padding: 8px 20px;
        max-width: 320px;
    }


    /* default options */

    .default-options {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        padding: 1rem;
    }

    .default-options .option-group {
        display: flex;
        gap: 1rem;
    }

    .default-options button {
        background: #f9fafb;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border: 3px solid #fff;
        width: 100%;
        height: auto;
        padding: 1.5rem;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #444;
        font-size: 1rem;
        font-weight: 500;
    }

    .default-options button:hover {
        border-color: #6900d1;
        cursor: pointer;
        color: #6900d1;
    }

    .default-options button span {
        font-size: 1rem;
        margin-bottom: 8px;
        margin-bottom: 0.7rem;

    }
</style>
{% endblock %}




{% block content %}

<!-- Header -->
<div class="header">
    <a href="/" style="text-decoration:none; font-size:22px; color:#444;">←</a>
    <h2>Password Manager</h2>
    <div style="width:20px;"></div>
</div>

<!-- Chat box -->
<div id="chat-box" class="chat-box">


    <!-- <div class="flex-col animate-fadeIn" style="margin-bottom:24px;">
        <div class="flex-start" style="margin-top:16px;">
            <div class="system-chat">
                <div class="flex-row" style="justify-content: space-between; margin-bottom:13px;">
                    <div class="flex-col">
                        <div class="flex-row" style="gap:8px;">
                            <div class="icon-circle">💰</div>
                            <div class="flex-col">
                                <span class="txn-title">Platform</span>
                                <span class="txn-sub">
                                    Email
                                </span>
                            </div>
                        </div>
                    </div>
                    <a href="#" style="color:#777; font-size:14px; text-decoration:none;">✎</a>
                </div>

                <div class="text-title"><span>👤 -</span> <small>sagarkakade0201@gmail.com</small></div>
                <div class="text-desc"><span>🗝️ -</span> <small>Riomario0201</small></div>

                <p class="txn-date">12 jun 2023 8.10 pm </p>
            </div>
        </div>
    </div> -->


</div>

<!-- Input area -->
<form id="chat-form" class="input-box" style="display:flex; align-items:center;box-sizing: border-box;">
    <input type="text" id="chat-input" name="text" placeholder="Enter expense details..." required>
    <button type="submit">➤</button>
</form>

{% endblock %}






{% block scripts %}

<script>
    const chatForm = document.getElementById('chat-form');
    const chatInput = document.getElementById('chat-input');
    const chatBox = document.getElementById('chat-box');

    let activeOption = null;
    let newPasswordDetails = { category: null, username: null, password: null };
    let addStage = null;  // null | 'category' | 'username' | 'password'

    function resetAdd() {
        addStage = null;
        newPasswordDetails = { category: null, username: null, password: null };
    }




    chatForm.addEventListener('submit', function (e) {
        e.preventDefault();
        const text = chatInput.value.trim();
        if (!text && activeOption !== 'New') return;
        chatBot(text);
    });



    // add passowrd details form 

    async function handleAddPasswordDetails() {
        const formData = new FormData();
        formData.append('category', newPasswordDetails.category);
        formData.append('username', newPasswordDetails.username);
        formData.append('password', newPasswordDetails.password);
        formData.append('activeOption', activeOption);
        const res = await fetch('/passwords', { method: 'POST', body: formData });
        const data = await res.json();

        if (data.success) {
            const passwordData = data.password;
            addPasswordSuccessMessage(passwordData);

            resetAdd();
            activeOption = null;
            clearInput();

        }else {
            botMessage("Failed to add password. Please try again.");
            resetAdd();
            activeOption = null;
            clearInput();
        }

    }

    function changeActiveOption(option) {
        activeOption = option;
        if (option === 'New') {
            addStage = null;
            chatBot(""); // Start the New password workflow
        } else {
            // Handle other options if needed
        }
    }

    function clearInput() {
        chatInput.value = '';
        chatInput.disabled = false;
    }

    function scrollChatToBottom() {
        chatBox.scrollTop = chatBox.scrollHeight;
    }

    function userMessage(text) {
        const userDiv = `
        <div class="flex-end user-msg" id="user-msg">
            <div class="user-msg-desc" id="user-msg-desc">${text}</div>
            <div class="profile">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
            </div>
        </div>
    `;
        chatBox.insertAdjacentHTML("beforeend", userDiv);
        scrollChatToBottom();
    }

    function botMessage(text) {
        const botDiv = `
        <div class="bot-info">
            <div class="flex-start bot-msg" id="bot-msg">
                <div class="profile">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                </div>
                <div class="bot-msg-desc" id="bot-msg-desc">
                    ${text}
                </div>
            </div>
        </div>
    `;
        chatBox.insertAdjacentHTML("beforeend", botDiv);
        scrollChatToBottom();
    }

    // Optionally improve: Add scroll-to-bottom for chatBox here

    function defaultMessage(msg ="Welcome Back how can i help you") {
        const defaultDiv = `
        <div class="bot-info">
            <div class="flex-start bot-msg" id="bot-msg">
                <div class="profile">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                </div>
                <div class="bot-msg-desc" id="bot-msg-desc">
                    ${msg}
                </div>
            </div>
            <div class="default-options" id="default-options">
                <div class="option-group">
                    <button onclick="changeActiveOption('New')"><span class="option-logo">➕</span>New</button>
                    <button onclick="changeActiveOption('Update')"><span class="option-logo">🔄</span>Update</button>
                </div>
                <div class="option-group">
                    <button onclick="changeActiveOption('All')"><span class="option-logo">📋</span>ALL</button>
                    <button onclick="changeActiveOption('Search')"><span class="option-logo">🔍</span>Search</button>
                </div>
            </div>
        </div>
    `;
        chatBox.insertAdjacentHTML("beforeend", defaultDiv);
    }

    function addPasswordSuccessMessage(data) {
        const successDiv = `
        <div class="bot-info">
            <div class="flex-start bot-msg" id="bot-msg">
                <div class="profile">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="">
                </div>
                <div class="bot-msg-desc" id="bot-msg-desc">
                    Password Details Added Successfully
                </div>
            </div>
            <div class="flex-start" style="margin-top:16px;">
                <div class="system-chat">
                    <div class="flex-row" style="justify-content: space-between; margin-bottom:13px;">
                        <div class="flex-col">
                            <div class="flex-row" style="gap:8px;">
                                <div class="icon-circle">💰</div>
                                <div class="flex-col">
                                    <span class="txn-title">Platform</span>
                                    <span class="txn-sub">
                                        ${data.category}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a href="#" style="color:#777; font-size:14px; text-decoration:none;">✎</a>
                    </div>

                    <div class="text-title"><span>👤 -</span> <small>${data.username}</small></div>
                    <div class="text-desc"><span>🗝️ -</span> <small>${data.password}</small></div>

                    <p class="txn-date">${data.date_time} </p>
                </div>
            </div>
        </div>
    `;
        chatBox.insertAdjacentHTML("beforeend", successDiv);
    }

    function chatBot(inputText) {
        // Handle "New" password workflow
        chatInput.disabled = true;
        if (activeOption === "New") {
            if (!addStage) {
                addStage = 'category';
                botMessage("Please enter the category");
                clearInput();
                return;
            }
            if (addStage === 'category') {
                if (inputText) {
                    userMessage(inputText);
                    newPasswordDetails.category = inputText;
                    addStage = 'username';
                    botMessage("Please enter the username:");
                    clearInput();
                }
                return;
            }
            if (addStage === 'username') {
                if (inputText) {
                    userMessage(inputText);
                    newPasswordDetails.username = inputText;
                    addStage = 'password';
                    botMessage("Please enter the password:");
                    clearInput();
                }
                return;
            }
            if (addStage === 'password') {
                if (inputText) {
                    userMessage(inputText);
                    newPasswordDetails.password = inputText;
                    botMessage("Adding your password details...");
                    handleAddPasswordDetails();

                }
                return;
            }
        }

        // Handle general chat messages
        if (!activeOption && (inputText.toLowerCase() === "hi" || inputText.toLowerCase() === "start")) {
            userMessage(inputText);
            defaultMessage();
            clearInput();
            return;
        }

        if (inputText.toLowerCase() === "stop") {
            userMessage(inputText);
            botMessage("thank you! see you soon.");
            clearInput();
            return;
        }

        // In all other cases, print user message and clear input
        if (inputText) {
            userMessage(inputText);
            defaultMessage("I didn't understand that. Please choose an option from below.");
            clearInput();
        }
    }

</script>

{% endblock %}