{% extends "layout.html" %}

{% block css %}
<style>
    html .page-body {
        background: #f9fafb;
        color: #1a202c;
        font-family: Arial, sans-serif;
        padding: 0;
    }

    #bottom-navigation {
        display: none;
    }

    body .main-section {
        margin: 0;
    }



    .data-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 85%;
        position: relative;
        z-index: 2;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }

    .form-header {
        text-align: left;
        width: 100%;
        margin-bottom: 2.3rem;
    }

    .form-header h2 {
        font-size: 2rem;
    }

    .form-header p {
        font-size: 1rem;
        margin-top: 0.5rem;
        color: #444444e3;
    }



    .form-container input {
        border-radius: 10px;
        color: #1a202c;
        padding: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        border: 1px solid #ffff;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        background-color: #f9fafb;
        font-weight: 600;
        outline: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        background-color: #f9fafb !important;
        outline: none;
    }


    .form-container button {
        margin-top: 2rem;
        border: none;
        border-radius: 10px;
        padding: 0.8rem;
        width: 100%;
        font-weight: bold;
        cursor: pointer;
        background-color: #1a202c;
        color: white;
    }

    .form-container button:hover {
        background: #e0e0e0;
    }

    .form-link {
        margin-top: 2.5rem;
        width: 100%;
        font-size: 0.9rem;
        color: rgba(68, 68, 68, 0.853)
    }

    .form-link a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: #1a202c;
    }


    .box {
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: #1a202ce1;
        backdrop-filter: blur(5px);
    }

    .box-1 {
        top: -15rem;
        right: -13rem;

        width: 484px;
        height: 400px;
    }

    .box-2 {
        bottom: -14rem;
        right: 42px;
        width: 330px;
        height: 300px;
    }
</style>
{% endblock %}

{% block content %}
<div class="data-form">
    <div class="form-container">

        <div class="form-header">
            <h2>Signup</h2>
            <p>Sign up to start your journey</p>
        </div>
        <form method="POST">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>

        <p class="form-link">Already have an account? <a href="/login"
                style="color: #1a202c; text-decoration: underline;">Login</a></p>


        <div class="box box-1"></div>
        <div class="box box-2"></div>
        <div class="box box-3"></div>
    </div>
</div>
{% endblock %}